<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 0px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }
</style>

<div class="content" role="main">


    <form>
        <div id="div1">
            <h1>Currency Converter</h1>

            <!--OPÇÕES DE MOEDAS PARA CONVERTER-->
            <div id="div2">
                <!-- <b><label id="labelFrom">From: </label></b><br /> -->
                <select id="opçõesFrom">
                    <option>Real</option>
                    <!-- <option value="US$">Dólar Americano</option> -->
                    <option value="C$">Dólar Canadense</option>
                    <option value="A$">Dólar Australiano</option>
                    <option>Euro</option>
                    <option>Peso Argentino</option>
                    <option>Peso Chileno</option>
                    <option>Peso Uruguaio</option>
                    <option>Bitcoin</option>
                    <option>Ouro</option>
                </select><br />
            </div>

            <div id="div3">
                <!-- <b><label id="labelTo">To: </label></b><br /> -->
                <select id="opçõesTo">
                    <option>Real</option>
                    <!-- <option>Dólar Americano</option> -->
                    <option>Dólar Canadense</option>
                    <option>Dólar Australiano</option>
                    <option>Euro</option>
                    <option>Peso Argentino</option>
                    <option>Peso Chileno</option>
                    <option>Peso Uruguaio</option>
                    <option>Bitcoin</option>
                    <option>Ouro</option>
                </select>
            </div><br />


            <!--ENTRADA DO VALOR A SER CONVERTIDO-->
            <div class="group" id="div4">
                <input type="number" id="labelValue" required>
                <label>Amount:</label>
            </div><br />


            <!--botões CONVERTER E RESETAR-->
            <input type="button" value="Convert" id="btn1" onClick="conversao()" />
            <input type="reset" value="Clean" id="btn2">
            <br />




            

            <!--RESULTADO QUE SERÁ MOSTRADO NA TELA-->
            <!-- <div id="div5">
                <br />
                <label id="labelResult"><b>Result: </b></label><br />
                <span id="finalValeu"></span>
            </div><br /> -->


        </div>

    </form>




</div>