<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 0px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }
</style>

<div class="content" role="main">


    <div id="dollarC" class="content" role="main">
        <!-- <form> -->
            <h1>Currency Converter</h1>

    
            <!-- <div class="group" id="realTo"> -->
            {{moneyOne}} <input type="number" value="{{numResultTwo}}" (keyup)="calcOne($event)">
                <!-- <span class="highlight"></span>
                <span class="bar"></span>
            </div> -->
    
            <!-- <div class="group" id="dollarTo"> -->
            {{moneyTwo}}<input type="number" value="{{numResult}}" (keyup)="calcTwo($event)">
            <!-- </div> -->
            <br/>


            <div class="selectormoney">
                <div class="money"> Moeda:
                    <br/>
                  <select (change)="changemoneyOne($event)">
                    <option *ngFor="let i of moneys">{{ i }}</option>
                  </select>
                </div>


                <div class="money1"> Moeda:
                    <br/>
                  <select (change)="changemoneyTwo($event)">
                    <option *ngFor="let j of moneys">{{ j }}</option>
                  </select>
                </div>
            </div>


        <!-- </form> -->
    </div>


</div>