<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 0px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<div class="content" role="main">


  <form id="dollarC" role="main" class="content">

    <h1>Currency Converter</h1>



    {{moneyBase.money_name}} <input type="number" class="form-control" id="valOne"
      [(ngModel)]="calc.inputValueOne" name="valOne" #name="ngModel" (keyup)="calcOne($event)">

    <!-- {{moneyOne}} <input type="number" value="{{numResultTwo}}" (keyup)="calcOne($event)"> -->

    <!-- ----------- -->

    {{moneyTwo.money_name}}<input type="number" class="form-control" id="valTwo"
      [(ngModel)]="calc.inputValueTwo" name="valTwo" #name="ngModel" (keyup)="calcTwo($event)">

    <!-- {{moneyTwo}}<input type="number" value="{{numResult}}" (keyup)="calcTwo($event)"> -->

    <br />


    <div class="selectormoney">
      <div class="money"> Moeda:
        <select name="money" [(ngModel)]="moneyBase.money_name" (change)="changemoneyOne($event)">
          <option *ngFor="let i of moneys" [value]="i">{{ i }}</option>
        </select>

        <!-- <select (change)="changemoneyOne($event)">
            <option *ngFor="let i of moneys">{{ i }}</option>
          </select> -->
      </div>



      <div class="money1"> Moeda:
        <select name="money1" [(ngModel)]="moneyTwo.money_name" (change)="changemoneyTwo($event)">
          <option *ngFor="let j of moneys" [value]="j">{{ j }}</option>
        </select>
        <!-- <select (change)="changemoneyTwo($event)">
            <option *ngFor="let j of moneys">{{ j }}</option>
          </select> -->
      </div>
    </div>

  </form>


</div>