
#opçõesFrom{
    border-radius: 5px;
    left:19%;
    top:2.5%;
    font-family:tahoma;
    font-size:15px;
}

#opçõesTo{
    border-radius: 5px;    
    left:19%;
    top:2.5%;
    font-family:tahoma;
    font-size:15px;
}

#labelValue{
    border-radius: 2px;    
    font-family:tahoma;
    font-size:15px;
}

/* input[type=button] {
    background-color: #4b5052;
	border: 2px solid black;
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	width: 40%;
} */

/* input[type=reset] {
    background-color: #4b5052;
	border: 2px solid black;
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	width: 29%;
} */
input[type=button] {
	box-shadow: 3px 4px 0px 0px #999999;
	background:linear-gradient(to bottom, #f7f7f7 5%, #b5b5b5 100%);
	background-color:#f7f7f7;
	border-radius:15px;
	border:1px solid #fcfcfc;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:17px;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input[type=button]:hover {
	background:linear-gradient(to bottom, #b5b5b5 5%, #f7f7f7 100%);
	background-color:#b5b5b5;
}
input[type=button]:active {
	position:relative;
	top:1px;
}


input[type=reset] {
	box-shadow: 3px 4px 0px 0px #999999;
	background:linear-gradient(to bottom, #f7f7f7 5%, #b5b5b5 100%);
	background-color:#f7f7f7;
	border-radius:15px;
	border:1px solid #fcfcfc;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:17px;
	padding:4px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input[type=reset]:hover {
	background:linear-gradient(to bottom, #b5b5b5 5%, #f7f7f7 100%);
	background-color:#b5b5b5;
}
input[type=reset]:active {
	position:relative;
	top:1px;
}