<nav>
    <ul>
        <li>
            <a routerLink="dollar">
                USD
                <p id="dados">Dolar {{ dolarRate }}</p>
            </a>
            <!-- <a href="dollar">USD</a> -->
        </li>
        <!-- <li>
            <a routerLink="libra">GBP</a>
            <a href="libra">GBP</a>
        </li> -->
        <li>
            <a routerLink="calculator">
                Other Currencies
                <p id="dados">Libra {{ libraRate }} Euro {{ euroRate }} </p>
            </a>
            <!-- <a href="calculator">Currencies</a> -->
        </li>
        <li>
            <a routerLink="line-chart">Historical
                <p id="dados">Graphics</p>
            </a>
        </li>

    </ul>        
</nav>
