<nav>
    <ul>
        <li>
            <a routerLink="dollar">
                USD
                <p id="dados">R$ 5.16</p>
            </a>

            <!-- <a href="dollar">USD</a> -->

            
        </li>
        <!-- <li>
            <a routerLink="libra">GBP</a>
            <a href="libra">GBP</a>
        </li> -->
        <li>
            
            <a routerLink="calculator">
                Other Currencies
                <p id="dados">(EUR)R$ 5.64..(GBP)R$ 6.46..(ARS)R$ 0.08</p>
            </a>

            <!-- <a href="calculator">Currencies</a> -->
        </li>

    </ul>        
</nav>
